
.header {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  margin: 80px 0 0 130px;
}

.logo {
  width: 180px;
  height: 50px;
  margin: 10px 0 0 0;
}

.menu {
  max-width: 500px;
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 0 0 0 100px;
}

.menu p {
  font-family: Inter;
  font-size: 20px;
  color: #2F2E2E;
}

.menu img {
  width: 25px;
  height: 22px;
  margin: 20px 0 0 0;
}
.about1 {
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: 700px;
  margin: -100px auto 0 auto;
}

.image {
  position: relative;
  display: inline-block;
  margin-left: 320px;
  margin-top: 160px;
}

.bg {
  display: block;
  width: 1150px;
}

.card-top {
  position: absolute;
  top: 150px;
  left: -350px;
  width: 691px;
  height: 550px;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-120%, 10%);  
  width: 550px;  
  text-align: left;  
  color: #2F2E2E;
}

.text h2 {
  font-family: Playfair Display;
  font-size: 51px;
  font-weight: bold;
  margin-bottom: 20px;
}

.text p {
  font-family: Inter;
  font-size: 32px;
  font-weight: 300;
  margin: 0;
}

.servic {
  width: 100%;
  max-width: 1500px;
  min-height: 334px;
  background-color: grey;
  margin: 198px auto 0 auto; 
  padding: 60px 0;
}

.servic h2 {
  font-family: Playfair Display;
  font-size: 51px;
  font-weight: bold;
  color: #2F2E2E;
  text-align: center;
  margin-top: 10px;
}

.servic_grid {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  gap: 40px;
}

.planning, .interior, .exterior {
  text-align: center;
}

.planning img,
.interior img,
.exterior img {
  display: block;
  margin: 0 auto;
}

.planning h2,
.interior h2,
.exterior h2 {
  font-family: Playfair Display;
  font-size: 28px;
  font-weight: bold;
  color: #2F2E2E;
  margin: 20px 0 10px 0;
}

.planning p,
.interior p,
.exterior p {
  font-family: Playfair Display;
  font-size: 16px;
  margin: 0;
}

.about {
  width: 100%;
  max-width: 1470px;
  min-height: 641px;
  margin: 40px auto 0 auto;
}

.container_about {
  width: 100%;
  max-width: 1276px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 70px;
  gap: 100px;
}

.container_about img {
  width: 735px;
  height: auto;
}

.about_text {
  max-width: 456px;
}

.about_text h2 {
  font-family: Playfair Display;
  font-size: 51px;
  font-weight: bold;
  color: #2F2E2E;
  margin-bottom: 20px;
}

.about_text p {
  font-family: Playfair Display;
  font-size: 31px;
  color: #2F2E2E;
  line-height: 1.5;
  margin-bottom: 20px;
}

.about_text .cut {
  font-family: Inter;
  font-size: 24px;
  color: #2F2E2E;
  font-weight: 600;
  cursor: pointer;
}

.project {
  width: 100%;
  max-width: 1470px;
  min-height: 802px;
  margin: 0px auto 0 auto;
  padding: 70px;
}

.project h2 {
  font-family: Playfair Display;
  font-size: 51px;
  font-weight: bold;
  color: #2F2E2E;
  margin-bottom: 50px;
}

.grid_projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.item {
  width: 100%;
}

.item img {
  width: 100%;
  height: auto;
}

.item p {
  font-family: Playfair Display;
  font-size: 18px;
  color: #2F2E2E;
  text-align: center;
  margin-top: 15px;
}

.team {
  width: 100%;
  max-width: 1470px;
  min-height: 400px;
  margin: -50px auto 0 auto;
  padding: 70px;
}

.team h2 {
  text-align: center;
  font-family: Playfair Display;
  font-size: 51px;
  font-weight: bold;
  color: #2F2E2E;
  margin-bottom: 50px;
}

.team_inner {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.team_item {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 600px;
}

.team_item img {
  width: 151px;
  height: 151px;
  border-radius: 50%;
  flex-shrink: 0;
}

.team_text h3 {
  font-family: Playfair Display;
  font-size: 28px;
  font-weight: bold;
  color: #2F2E2E;
  margin: 0 0 10px 0;
}

.team_text p {
  font-family: Playfair Display;
  font-size: 17px;
  color: #2F2E2E;
  margin: 0;
  width: auto;
}
.footer{
    width: 1500px;
    height: 369px;
    background-color: #2F2E2E;
    margin-left: 85px;
}
.grid_footer {
  display: flex;
  align-items: center;
  gap: 200px;
  padding-left: 150px;
  padding-top: 40px;
}
.grid_item1 {
    width: 287px;
}
.grid_item1 p,
.grid_item2 p,
.grid_item3 p{
  font-family: Inter;
  color: #FAFAFA;
  font-size: 17px;
  line-height: 1.5; 
}
.grid_item1 h2,
.grid_item2 h2,
.grid_item3 h2{
  font-family: Inter;
  color: #FAFAFA;
  font-size: 24px;  
}
.icon {
   display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 60px;   
}
.grid_item2 {
    width: 201px;
    margin-top: -50px; 
}
.grid_item3 {
}
